<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <style>
       
    </style>
</head>
<body>
    <h1>Invoice</h1>
    <p><strong>Course Instructor:</strong> {{ courseInstructor }}</p>
    <p><strong>Course Name:</strong> {{ courseinfo }}</p>
    <p><strong>Course Price:</strong> {{ coursePrice }}</p>
    <p><strong>Course Duration:</strong> {{ courseDuration }}</p>
    <p><strong>Date of Purchase:</strong> {{ dateofpurchase }}</p>
    <p><strong>Date of Expiry:</strong> {{ dateofexpiry }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    
</body>
</html>
